<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="#">Restoran "F"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigacija...">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Početna strana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dostava">Dostava</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kontakt">Kontakt</a>
            </li>
          <!--  <li class="nav-item">
                <a class="nav-link" href="/licniKarton" >Profil</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/korisnici" >Korisnici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proizvodi" >Proizvodi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proizvodiUser" >Proizvodi korisnik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/porudzbine" >Porudzbine</a>
            </li>
        </ul>
        <button onclick="location.href='/registracija'"
                class="btn btn-primary">Login/Register</button>
    </div>
</nav>
</body>
</html>
