<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restoran F - Dostava</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
         body {
            background: url('https://c4.wallpaperflare.com/wallpaper/1002/130/457/food-meat-vegetables-tomatoes-still-life-hd-wallpaper-preview.jpg') no-repeat;
            background-size: cover;
            text-align:center;
            color: white;
        }
    </style>
</head>
<body>
<header th:replace="fragments/header :: header">
</header>
<div sec:authorize="isAuthenticated()">
    Sadržaj ove strane možete videti samo ako imate nalog!
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    Sadržaj ove strane može videti samo korisnik!
</div>
    <div class="container">
        <div class="row bg-light">
            <div class="col col-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Kategorija</th>
                    </tr>
                    </thead>
                    <tbody id="kat">
                        <tr th:each="proizvod : ${proizvodi}" style="display: none">
                            <td>
                                <button class="btn btn-primary" th:text="${proizvod.vrsta}" onclick="changeKat(this)"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Proizvod</th>
                    </tr>
                    </thead>
                    <tbody id="pro" th:fragment="dostava">
                    <tr th:each="proizvod : ${proizvodi}">
                        <td>
                            <button class="btn btn-primary" th:text="${proizvod.naziv}" onclick="addToCart(this)"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Korpa</th>
                    </tr>
                    </thead>
                    <tbody id="kor">
                    </tbody>
                </table>
                <button id="finish" style="display: none" class="btn btn-primary" onclick="finish()">Završi kupovinu</button>
            </div>

        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    $('document').ready(function () {
        var kategorije = [];
        $("#kat").find("button").each(function(){
            var q = $(this).text()
            kategorije.push(q);
        })
        kategorije = Array.from(new Set(kategorije));
        $("#kat").find("tr").remove()
        kategorije.forEach(function (item) {
            console.log(item)
            console.log('<tr><td><button class="btn btn-primary" onclick="changeKat(this)">' + item + '</button></td></tr>')
            $("#kat").append('<tr><td><button class="btn btn-primary" onclick="changeKat(this)">' + item + '</button></td></tr>')
        })
        $("#pro").hide()
    })

    function changeKat(element)
    {
        var kat = $(element).text()
        $.ajax({
            type : 'GET',
            url : "/proizvodi/proizvodPoVrsti/" + kat,
            success : function (data) {
                $("#pro").replaceWith(data);
                $("#pro").show()
            }
        });

    }

    function addToCart(element)
    {
        var item = $(element).text()
        $("#kor").append('<tr><td>' + item + '</td><td><input style="width: 30px; float: right" type="number" min="1" value="1" </input></td>' +
            '<td><button class="btn btn-danger" style="float: right" onclick="removeFromCart(this)">X</button></td></tr>')
        $("#finish").show()
    }

    function removeFromCart(element)
    {
        $(element).parents("tr").remove()
        var trs = $("#kor").find("tr")
        if (trs.length == 0)
            $("#finish").hide()
    }

    function finish() {
        var date = new Date();
        var sati = date.getHours()
        if(sati.toString().length == 1)
            sati = "0" + sati;
        var minuti = date.getMinutes()
        if(minuti.toString().length == 1)
            minuti = "0" + minuti;
        var time = sati + ":" + minuti
        //var items = $('#kor').find("td").text();
        $.get('/korisnici/getIdKorisnik',{},function (data) {
            var id_korisnik = data;
            $.post('/porudzbine/napravi', {
                datum : date,
                vreme : time,
                korisnik_idkorisnik : id_korisnik
            }, function (data) {
                console.log("ID porudzbine: " + data)
                $('#kor').find('tr').each(function () {
                    var td1 = $(this).find('td:first')
                    var td2 = $(this).find('input')
                    var proizvod = td1.text()
                    var kolicina = td2.val()
                    console.log(kolicina)
                    console.log("Naziv proizvoda je: " + proizvod)
                    var id_porudzbina = data
                    $.get('/proizvodi/getIdProizvod/' + proizvod, {}, function (data) {
                        console.log("ID proizvoda: " + data)
                        var id_proizvod = data
                        $.post('/porudzbine/napraviStavku', {
                            iDPorudzbina : id_porudzbina,
                            iDProizvod : id_proizvod,
                            kolicina : kolicina,
                            cena: '1337'
                        }, function () {
                            window.location.replace("/porudzbine")
                        })
                    }, "text")

                })
            }, "text")
        })
    }
</script>
</body>
</html>