<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pocetna strana</title>

    <style>
        .onama
        {
            margin: 0px auto;
            padding: 5px;
            text-align: center;
            width: 50%;
        }

    </style>
</head>
<body>

<div>
    <h1 align="center">O nama</h1>
    <p class="onama">Restoran „F“ je mesto uzbudljivih gastronomskih susreta domaćinskog i kosmopolitskog,
        lokalnog i nacionalnog. Mesto gde se tradicija prepliće sa modernošću. Mesto gde se opušta i uživa,
        gde se dobro jede i gde se toče najfinija vina ili rakije. Mesto koje budi sva vaša čula.
        Ali „F“ je, pre svega, vaša druga kuća, puna prepoznatljivih boja i poznatih ukusa detinjstva.
        Prostor koji odiše intimom, toplinom i šarmom doma. Zaklon koji budi najdivnija sećanja.
        Utočište gde ćete se uvek osećati kao među svojima.

        Svaka dobra kuća ima svog domaćina, koji će, uvek otvorenog i punog srca, svoje goste dočekati,
        poslužiti, zabaviti i ispratiti. Mi se ponosimo time što smo uvek dobar i gostoprimljiv domaćin.
        I zato činimo sve da se osetite kao kod svoje kuće. Od prostranog, elegantnog i udobnog ambijenta,
        preko bogatog menija sa autentičnim jelima nacionalne kuhinje, rafinirane prezentacije hrane,
        pa do izvanredne usluge i jedinstvene zabave, mi podižemo vaše gastronomsko uživanje na viši nivo.</p>
</div>


</body>
</html>