<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Korisnici</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<header th:replace="fragments/header :: header">
</header>
<h1 align="center">Korisnici</h1>
<p></p>

<div th:switch="${korisnici}">
    <h2 th:case="null">Nema korisnika!</h2>
    <div th:case="*">

        <table class="table">
            <thead>
            <tr>
                <th>ID korisnika</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Username</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Adresa</th>
                <th></th>
                <th></th>
<!--                <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="korisnik : ${korisnici}">
                <td th:text="${korisnik.iDKorisnik}"></td>
                <td th:text="${korisnik.ime}"></td>
                <td th:text="${korisnik.prezime}"></td>
                <td th:text="${korisnik.username}"></td>
                <td th:text="${korisnik.telefon}"></td>
                <td th:text="${korisnik.email}"></td>
                <td th:text="${korisnik.adresa}"></td>
                <td> <a href="#" th:href="@{/korisnici/delete/} + ${korisnik.iDKorisnik}">Obriši</a></td>
                <td> <a href="#" th:href="@{/korisnici/edit/} + ${korisnik.iDKorisnik}">Izmeni</a></td>
<!--                <td> <a href="#" th:href="@{/korisnici/getKorisnik/} + ${korisnik.iDKorisnik}">Prikaži</a></td>-->
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div>
    <form action="/korisnici/getKorisnik">
        <input name="myid" id="myid" type="text">
        <input type="submit" value="pretraga"/>
    </form>

<!--    <form action="#" th:action="@{/getKorisnik}" th:object="${korisnici}" method="post">-->
<!--        <p>Id: <input type="text" th:field="*{iDKorisnik}" /></p>-->
<!--        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--    </form>-->
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>