<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Licni karton</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<header th:replace="fragments/header :: header">
</header>
    <h1 align="center">Licni karton</h1>

    <style>
div {
  background-image: url('https://contacts.google.com/?hl=sr&tab=iC&authuser=0.jpg');
}
</style>
    <table width="305" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="140" valign="top">Prezime: </td>
            <td width="165" valign="top" class="desnotd"><p th:text="${#session.getAttribute('prezime')}"></p></td>
        </tr>
        <tr>
            <td width="140" valign="top">Ime: </td>
            <td width="165" valign="top" class="desnotd"><p th:text="${#session.getAttribute('ime')}"></p></td>
        </tr>
        <tr>
            <td width="140" valign="top">Korisnicko ime: </td>
            <td width="165" valign="top" class="desnotd"><p th:text="${#session.getAttribute('username')}"></p></td>
        </tr>
        <tr>
            <td width="140" valign="top">E-mail: </td>
            <td width="165" valign="top" class="desnotd"><p th:text="${#session.getAttribute('email')}"></p></td>
        </tr>
        <tr>
            <td width="140" valign="top">Telefon: </td>
            <td width="165" valign="top" class="desnotd"><p th:text="${#session.getAttribute('telefon')}"></p></td>
        </tr>
        <tr>
            <td width="140" valign="top">Adresa: </td>
            <td width="165" valign="top" class="desnotd"><p th:text="${#session.getAttribute('adresa')}"></p></td>
        </tr>

    </table>

<!--    <button onclick="redirectedit()"-->
<!--            class="btn btn-danger">Izmeni</button>-->

<!--    <button onclick="location.href='/registracija'"-->
<!--            class="btn btn-primary">Izmeni</button>-->

    <a href="#" th:href="@{/korisnici/editProfil/} + ${#session.getAttribute('id')}"><button class="btn btn-primary">Izmeni</button></a>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    function redirectedit(){
        var id=$("#test").text()
        location.href="/korisnici/edit/" + id }
</script>

</html>