<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${proizvodi}">
    <h2 th:case="null">Nema proizvoda!</h2>
    <div th:case="*">
        <h2>Proizvodi</h2>
        <table>
            <thead>
            <tr>
                <th>ID proizvoda</th>
                <th>Naziv</th>
                <th>Vrsta</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Slika</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="proizvod : ${proizvodi}">
                <td th:text="${proizvod.iDProizvod}"></td>
                <td th:text="${proizvod.naziv}"></td>
                <td th:text="${proizvod.vrsta}"></td>
                <td th:text="${proizvod.opis}"></td>
                <td th:text="${proizvod.cena}"></td>
                <td th:text="${proizvod.slika}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>