<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .update-form{
            padding: 10px;
            width: 25%;
            margin: 0px auto;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Restoran F</a>
</nav>

<form class="update-form">
    <div class="form-group">
        <label for="iDProizvod">IDProizovd</label>
        <input type="text" class="form-control" id="iDProizvod">
    </div>
    <div class="form-group">
        <label for="naziv">Naziv</label>
        <input type="text" class="form-control" id="naziv">
    </div>
    <div class="form-group">
        <label for="vrsta">Vrsta</label>
        <input type="text" class="form-control" id="vrsta">
    </div>
    <div class="form-group">
        <label for="opis">Opis</label>
        <input type="text" class="form-control" id="opis">
    </div>
    <div class="form-group">
        <label for="cena">Cena</label>
        <input type="text" class="form-control" id="cena">
    </div>
    <div class="form-group">
        <label for="slika">Slika</label>
        <input type="image" class="form-control" id="slika">
    </div>
    <button type="izmeni" class="btn btn-primary">Izmeni</button>
</form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>